@import url("https://use.typekit.net/yup4bjk.css");


body {
    font-family: neue-haas-unica, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #1a0030;
    background-image: url("TAUSTA/4K-Wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0; 
}

header {
    text-align: center;
    background-color: #f4f4f4;
    padding: 1rem;
    border-bottom: 2px solid #ccc;
}

h1 {
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 1rem; /* Spacing between items */
    padding: 1rem;
}

.gallery-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}

.gallery-item img {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

.gallery-item h2 {
    margin: 0.5rem 0;
}

.gallery-item p {
    font-size: 0.9rem;
    color: #555;
}
